@model TicketRequest

@{
    ViewData["Title"] = "Create";
}

<h1 class="page-header">Create new ticket</h1>
<div class="page-content">
    <div class="form-content">
        <form class="form-detail text-center" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row-total">
                <div class="form-row">
                    <label asp-for="TicketTitle" class="control-label">Ticket Title</label>
                    <input asp-for="TicketTitle" class="form-control input-text input-label" />
                    <span asp-validation-for="TicketTitle" class="text-danger"></span>
                </div>
                &nbsp;
                &ensp;
                <div class="form-row">
                    <label asp-for="DeviceId" class="control-label">Device Name</label>
                    <select asp-for="DeviceId" class="form-control input-text input-label" asp-items="ViewBag.DeviceId"></select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="TicketIssue" class="control-label">Device Issue</label>
                <textarea asp-for="TicketIssue" rows="4" class="form-control"></textarea>
                <span asp-validation-for="TicketIssue" class="text-danger"></span>
            </div>


            <div class="form-group text-center mt-5">
                @*If the person exist from the that database hide the Add button*@
                @if (ViewBag.Error is null)
                {
                    <input type="submit" value="Create" class="btn btn-warning btn-shape" />
                }
                | <a class="btn btn-success btn-shape" asp-action="Index">Back to List</a>
            </div>

            @* Display the Error messsage below the buttons *@
            @if (ViewBag.Error is not null)
            {
                <div class="alert alert-danger text-center" role="alert">
                    @ViewBag.Error
                </div>
            }
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
