@model UserRequest

@{
    ViewData["Title"] = "Change";
}

<h1 class="page-header">Password Change</h1>
<div class="page-content">
    <div class="form-content">
        <form class="form-detail text-center" asp-action="PasswordChange">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row-total">
                <div class="form-row">
                    <label asp-for="Password" class="control-label"></label>
                    <input id="InputPassword" type="password" asp-for="Password"
                           class="form-control input-text input-label" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                &nbsp;
                &ensp;
                <div class="form-row">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control input-text input-label" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div>
                <input type="checkbox" onclick="VisiblePassword()" class="form-control-label" />
                <span class="check-password">Show Password</span>
            </div>
            <div class="form-group text-center mt-5">
                @if (ViewBag.Error is null)
                {
                    <input type="submit" value="Change" class="btn btn-warning btn-shape" />
                }
                else
                {
                    <a class="btn btn-warning btn-shape" asp-action="PasswordChange">Clear Error</a>
                }
                | <a class="btn btn-success btn-shape" asp-action="Index">Back to List</a>
            </div>

            @* Display the Error messsage below the buttons *@
            @if (ViewBag.Error is not null)
            {
                <div class="alert alert-danger text-center" role="alert">
                    @foreach (var error in ViewBag.Error)
                    {
                        <span>@error</span>

                        <br>
                    }
                </div>
            }
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
